{
    "openapi" : "3.0.1",
    "info" : {
        "title" : "Student API",
        "version" : "4.1.0.1"
    },
    "servers" : [
        {
            "url" : "https://edu-integratordemo.adaptit.com/ords/studrest",
            "description" : "Integrator Demo Machine - Stud"
        },
        {
            "url" : "https://edu-integratordemo.adaptit.com/ords/webrest",
            "description" : "Integrator Demo Machine - Web"
        },
        {
            "url" : "https://int4d.adaptit.com/ords/studrest",
            "description" : "Integrator Development V4.1 - Stud"
        },
        {
            "url" : "https://int4d.adaptit.com/ords/webrest",
            "description" : "Integrator Development V4.1 - Web"
        }
    ],
    "paths" : {
        "/structure/test" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Check API Access",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "institutioncode" : {
                                                        "type" : "string",
                                                        "maxLength" : 4,
                                                        "description" : "The id assigned to the specific Institution"
                                                    },
                                                    "institutiondesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 80,
                                                        "description" : "The name of the Institution"
                                                    },
                                                    "currentdate" : {
                                                        "type" : "string",
                                                        "maxLength" : 20,
                                                        "description" : "The current date and timestamp. Format DD-MON-YYYY HH:MI"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/title" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the title codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "titleCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 5,
                                                        "description" : "Title Code"
                                                    },
                                                    "titleDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 15,
                                                        "description" : "Title Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/disability" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the physical disability codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "disabilityCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 3,
                                                        "description" : "Physical Disability Code"
                                                    },
                                                    "disabilityDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Physical Disability Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/matrictype" : {
            "get" : {
                "tags" : [
                    "Matric types filtered by matric year and/or type of matric (S - SA, I - International, NULL)"
                ],
                "description" : "Supplies a list of all the possible matric types which can be filtered by matric year and/or type of matric (S - SA, I - International, NULL)",
                "parameters" : [
                    {
                        "in" : "query",
                        "name" : "q_matyear",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : false,
                        "description" : "The year the achool leaving student wrote their final exams"
                    },
                    {
                        "in" : "query",
                        "name" : "q_typeMatric",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : false,
                        "description" : "The type of matric indicator - S - South African, I - International or Null"
                    }
                ],
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "matricTypeCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Matric Type Code"
                                                    },
                                                    "MatricTypeName" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Matric Type Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/matrictype/{id}/grade" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the possible matric type Grades",
                "parameters" : [
                    {
                        "in" : "path",
                        "name" : "id",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : true,
                        "description" : "Supply the matric type Code"
                    }
                ],
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "matricTypeCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Matric Type Code"
                                                    },
                                                    "gradeCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 1,
                                                        "description" : "Matric Grade Code"
                                                    },
                                                    "gradeDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Matric Grade Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/schoolsubject" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the School leaving subjects",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "subjectcode" : {
                                                        "type" : "string",
                                                        "maxLength" : 5,
                                                        "description" : "Matric Subject Code"
                                                    },
                                                    "subjectname" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Matric Subject Description"
                                                    },
                                                    "fieldoflearning" : {
                                                        "type" : "number",
                                                        "maxLength" : 4,
                                                        "description" : "Matric Subject Field of Learning"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/{matrictype}/schoolsubject" : {
            "get" : {
                "tags" : [
                    "School Leaving Subject per Matric Type"
                ],
                "description" : "Supplies a list of all the School leaving subjects per matric type",
                "parameters" : [
                    {
                        "in" : "path",
                        "name" : "matrictype",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : true,
                        "description" : "Supply the matric type Code"
                    }
                ],
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "matrictype" : {
                                            "type" : "string",
                                            "maxLength" : 2,
                                            "description" : "Matric Type Code"
                                        },
                                        "matrictypedesc" : {
                                            "type" : "string",
                                            "maxLength" : 30,
                                            "description" : "Matric Type Description"
                                        },
                                        "weight" : {
                                            "type" : "number",
                                            "maxLength" : 6,
                                            "description" : "subject weight"
                                        },
                                        "matricsubject" : {
                                            "type" : "array",
                                            "description" : "List of school leaving subjects for the matric type",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "subjectcode" : {
                                                        "type" : "string",
                                                        "maxLength" : 5,
                                                        "description" : "School Leaving Subject code"
                                                    },
                                                    "subjectname" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "School Leaving Subject description"
                                                    },
                                                    "fieldoflearning" : {
                                                        "type" : "number",
                                                        "maxLength" : 4,
                                                        "description" : "Field of learning indicator"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/institution" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the Institutions",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "institutionCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 4,
                                                        "description" : "Unique code assigned to the Institution"
                                                    },
                                                    "institutionDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 40,
                                                        "description" : "Institution Name"
                                                    },
                                                    "institutionType" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Type of Institution. 'U'niversity, 'C'ollege, 'T'echnicon, etc."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/faculty" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the Faculty codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "facultyCode" : {
                                                        "type" : "number",
                                                        "maxLength" : 4,
                                                        "description" : "Faculty Code"
                                                    },
                                                    "FacultyDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Faculty Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/studyperiod" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the period of study codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "perstudyCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 1,
                                                        "description" : "Study Period Code"
                                                    },
                                                    "perstudyDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Study Period Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/offeringtype" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the offering type codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "offeringTypeCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Offering Type Code"
                                                    },
                                                    "offeringTypeDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Offering Type Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/blockcodes" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the Block codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "blockCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Block Code"
                                                    },
                                                    "blockDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Block Code Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/marstat" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the Marital Status codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "maritalStatusCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 1,
                                                        "description" : "Marital Status Code ('S','M','D','w','T','C')"
                                                    },
                                                    "maritalStatusDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 40,
                                                        "description" : "Marital Status 'S'ingle, 'M'arried, 'D'ivorced, 'W'idow/er, 'T'raditional, 'C'onsensual,Married but living 'A'part"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/lanuage" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the Language codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "languageCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Language Code"
                                                    },
                                                    "languageDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Language Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/ethnicity" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the Ethnic codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "ethnicCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Ethnic Code"
                                                    },
                                                    "ethnicDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Ethnic Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/heard" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the media type codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "whereHeardCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 20,
                                                        "description" : "Where Heard Code"
                                                    },
                                                    "whereHeardDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Where heard Description"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/pcode" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Supplies a list of all the postal codes in Integrator",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "postalCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 8,
                                                        "description" : "Postal Code"
                                                    },
                                                    "postalCodeDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Town"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/students/test" : {
            "get" : {
                "tags" : [
                    "Student Biographical Detail"
                ],
                "description" : "Test availability of API",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "institution_code" : {
                                                        "type" : "string",
                                                        "maxLength" : 10,
                                                        "description" : "Identify the institution Code"
                                                    },
                                                    "institution_name" : {
                                                        "type" : "string",
                                                        "maxLength" : 50,
                                                        "description" : "Identify the institution Name"
                                                    },
                                                    "currentdate" : {
                                                        "type" : "string",
                                                        "maxLength" : 20,
                                                        "description" : "Actual date-time stamp of Machine when the process was run"
                                                    },
                                                    "progversion" : {
                                                        "type" : "string",
                                                        "maxLength" : 20,
                                                        "description" : "Current version of application api003pkg"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/security/test" : {
            "get" : {
                "tags" : [
                    "JWT Authentication"
                ],
                "description" : "Test Availablility of this API",
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "institutioncode" : {
                                            "type" : "string",
                                            "maxLength" : 4,
                                            "description" : "The id assigned to the specific Institution"
                                        },
                                        "institutiondesc" : {
                                            "type" : "string",
                                            "maxLength" : 80,
                                            "description" : "The name of the Institution"
                                        },
                                        "currentdate" : {
                                            "type" : "string",
                                            "maxLength" : 20,
                                            "description" : "The current date and timestamp. Format DD-MON-YYYY HH:MI"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/security/validateuser" : {
            "get" : {
                "tags" : [
                    "JWT Authentication"
                ],
                "description" : "This will check a person's Email address and Password sent via a signed Javascript Web Token",
                "parameters" : [
                    {
                        "in" : "query",
                        "name" : "jwtoken",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : true,
                        "description" : "Validate Supplied detail inside JWT Payload and verify if a student like this exists"
                    }
                ],
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "status" : {
                                            "type" : "string",
                                            "maxLength" : 20,
                                            "description" : "Outcome of the process is one of the following: \"OK\", \"Error\",\"SQLERROR\""
                                        },
                                        "message" : {
                                            "type" : "string",
                                            "maxLength" : 2000,
                                            "description" : "Either an Error message or the persons Title, Surname and Firstnames if status is \"OK\""
                                        },
                                        "student" : {
                                            "type" : "object",
                                            "description" : "Student Detail",
                                            "properties" : {
                                                "emails" : {
                                                    "type" : "array",
                                                    "description" : "List of Email addresses",
                                                    "items" : {
                                                        "type" : "object",
                                                        "properties" : {
                                                            "email" : {
                                                                "type" : "string",
                                                                "maxLength" : 80,
                                                                "description" : "Email address"
                                                            },
                                                            "primary" : {
                                                                "type" : "string",
                                                                "maxLength" : 2,
                                                                "description" : "Is this the primary Email address"
                                                            }
                                                        }
                                                    }
                                                },
                                                "surname" : {
                                                    "type" : "string",
                                                    "maxLength" : 40,
                                                    "description" : "Surname"
                                                },
                                                "firstnames" : {
                                                    "type" : "string",
                                                    "maxLength" : 40,
                                                    "description" : "First Names"
                                                },
                                                "birthDate" : {
                                                    "type" : "string",
                                                    "maxLength" : 11,
                                                    "description" : "Birthdate. Format DD-MON-YYYY"
                                                },
                                                "idNumber" : {
                                                    "type" : "string",
                                                    "maxLength" : 15,
                                                    "description" : "ID Number"
                                                },
                                                "passportNbr" : {
                                                    "type" : "string",
                                                    "maxLength" : 18,
                                                    "description" : "Passport Number"
                                                },
                                                "citizenship" : {
                                                    "type" : "string",
                                                    "maxLength" : 4,
                                                    "description" : "Citizenship code"
                                                },
                                                "userType" : {
                                                    "type" : "string",
                                                    "maxLength" : 2,
                                                    "description" : "Type of user. Valid values are \"S\"tudent, \"P\"ersonnel"
                                                },
                                                "userId" : {
                                                    "type" : "string",
                                                    "maxLength" : 20,
                                                    "description" : "The actual persons ID number inside Integrator"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            },
            "post" : {
                "tags" : [
                    "JWT Authentication"
                ],
                "description" : "This will check a person's Email address and Password sent via a signed Javascript Web Token",
                "requestBody" : {
                    "required" : true,
                    "content" : {
                        "text/plain" : {
                            "schema" : {
                                "type" : "object",
                                "properties" : {
                                    "jwtoken" : {
                                    }
                                }
                            }
                        }
                    }
                },
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "text/plain" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "status" : {
                                            "type" : "string",
                                            "maxLength" : 20,
                                            "description" : "Outcome of the process is one of the following: \"OK\", \"Error\",\"SQLERROR\""
                                        },
                                        "message" : {
                                            "type" : "string",
                                            "maxLength" : 2000,
                                            "description" : "Either an Error message or the persons Title, Surname and Firstnames if status is \"OK\""
                                        },
                                        "student" : {
                                            "type" : "object",
                                            "description" : "Student Detail",
                                            "properties" : {
                                                "emails" : {
                                                    "type" : "array",
                                                    "description" : "List of Email addresses",
                                                    "items" : {
                                                        "type" : "object",
                                                        "properties" : {
                                                            "email" : {
                                                                "type" : "string",
                                                                "maxLength" : 80,
                                                                "description" : "Email address"
                                                            },
                                                            "primary" : {
                                                                "type" : "string",
                                                                "maxLength" : 2,
                                                                "description" : "Is this the primary Email address"
                                                            }
                                                        }
                                                    }
                                                },
                                                "surname" : {
                                                    "type" : "string",
                                                    "maxLength" : 40,
                                                    "description" : "Surname"
                                                },
                                                "firstnames" : {
                                                    "type" : "string",
                                                    "maxLength" : 40,
                                                    "description" : "First Names"
                                                },
                                                "birthDate" : {
                                                    "type" : "string",
                                                    "maxLength" : 11,
                                                    "description" : "Birthdate. Format DD-MON-YYYY"
                                                },
                                                "idNumber" : {
                                                    "type" : "string",
                                                    "maxLength" : 15,
                                                    "description" : "ID Number"
                                                },
                                                "passportNbr" : {
                                                    "type" : "string",
                                                    "maxLength" : 18,
                                                    "description" : "Passport Number"
                                                },
                                                "citizenship" : {
                                                    "type" : "string",
                                                    "maxLength" : 4,
                                                    "description" : "Citizenship code"
                                                },
                                                "userType" : {
                                                    "type" : "string",
                                                    "maxLength" : 2,
                                                    "description" : "Type of user. Valid values are \"S\"tudent, \"P\"ersonnel"
                                                },
                                                "userId" : {
                                                    "type" : "string",
                                                    "maxLength" : 20,
                                                    "description" : "The actual persons ID number inside Integrator"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/students/{id}/schoolsubjects" : {
            "get" : {
                "tags" : [
                    "Student Biographical Detail"
                ],
                "description" : "Display Student School Subjects",
                "parameters" : [
                    {
                        "in" : "path",
                        "name" : "id",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : true,
                        "description" : "Supply the specific student number"
                    },
                    {
                        "in" : "query",
                        "name" : "q_matricType",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : false,
                        "description" : "The matric type under which the student took this subject. Legal values are stored in {SCODE3-1}, Table IBKMTP"
                    },
                    {
                        "in" : "query",
                        "name" : "q_matricDate",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : false,
                        "description" : "The year and month that these subjects were taken under. The format is 'YYYYMM' where 'YYYY' => Year of the exams (i.e. 2015) 'MM' => Month of the exam. Valid values are '01' to '12' identifying 'January, February, \u2026'"
                    }
                ],
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "matricType" : {
                                                        "type" : "string",
                                                        "maxLength" : 8,
                                                        "description" : "The matric type under which the student took this subject. Legal values are stored in {SCODE3-1}, Table IBKMTP"
                                                    },
                                                    "matricDate" : {
                                                        "type" : "string",
                                                        "maxLength" : 6,
                                                        "description" : "The year and month that these subjects were taken under. The format is 'YYYYMM' where 'YYYY' => Year of the exams (i.e. 2015) 'MM' => Month of the exam. Valid values are '01' to '12' identifying 'January, February, \u2026'"
                                                    },
                                                    "subjCode" : {
                                                        "type" : "string",
                                                        "maxLength" : 5,
                                                        "description" : "The subject code of the subject for the student. Valid Values are stored in {SCODE-3}, Table IBMMSB"
                                                    },
                                                    "subjDesc" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "The subject description of the subject for the student. Valid Values are stored in {SCODE-3}, Table IBMMSB"
                                                    },
                                                    "subjGrade" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "The Grade in which this subject was taken. Legal values are stored in {SCODE-6}, Table JCTMGD"
                                                    },
                                                    "subjSymb" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "The Final Symbol acquired in this subject"
                                                    },
                                                    "subjSymb9" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "The Previous years Symbol acquired for this subject."
                                                    },
                                                    "subjSymbJ" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "The midyear symbol acquired for this subject."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            },
            "post" : {
                "tags" : [
                    "Student Biographical Detail"
                ],
                "description" : "Create Student School Subjects",
                "parameters" : [
                    {
                        "in" : "path",
                        "name" : "id",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : true,
                        "description" : "Supply the specific student number"
                    }
                ],
                "requestBody" : {
                    "required" : true,
                    "content" : {
                        "application/json" : {
                            "schema" : {
                                "type" : "object",
                                "properties" : {
                                    "matricType" : {
                                        "type" : "string",
                                        "maxLength" : 8,
                                        "description" : "The matric type under which the student took this subject. Legal values are stored in {SCODE3-1}, Table IBKMTP"
                                    },
                                    "matricDate" : {
                                        "type" : "string",
                                        "maxLength" : 6,
                                        "description" : "The year and month that these subjects were taken under. The format is 'YYYYMM' where 'YYYY' => Year of the exams (i.e. 2015) 'MM' => Month of the exam. Valid values are '01' to '12' identifying 'January, February, \u2026'"
                                    },
                                    "subjCode" : {
                                        "type" : "string",
                                        "maxLength" : 5,
                                        "description" : "The subject code of the subject for the student. Valid Values are stored in {SCODE-3}, Table IBMMSB"
                                    },
                                    "subjDesc" : {
                                        "type" : "string",
                                        "maxLength" : 30,
                                        "description" : "The subject description of the subject for the student. Valid Values are stored in {SCODE-3}, Table IBMMSB"
                                    },
                                    "subjGrade" : {
                                        "type" : "string",
                                        "maxLength" : 2,
                                        "description" : "The Grade in which this subject was taken. Legal values are stored in {SCODE-6}, Table JCTMGD"
                                    },
                                    "subjSymb" : {
                                        "type" : "string",
                                        "maxLength" : 2,
                                        "description" : "The Final Symbol acquired in this subject"
                                    },
                                    "subjSymb9" : {
                                        "type" : "string",
                                        "maxLength" : 2,
                                        "description" : "The Previous years Symbol acquired for this subject."
                                    },
                                    "subjSymbJ" : {
                                        "type" : "string",
                                        "maxLength" : 2,
                                        "description" : "The midyear symbol acquired for this subject."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "status" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : ""
                                                    },
                                                    "origin" : {
                                                        "type" : "string",
                                                        "maxLength" : 80,
                                                        "description" : ""
                                                    },
                                                    "invsql" : {
                                                        "type" : "string",
                                                        "maxLength" : 10,
                                                        "description" : ""
                                                    },
                                                    "message" : {
                                                        "type" : "string",
                                                        "maxLength" : 300,
                                                        "description" : ""
                                                    },
                                                    "reporton" : {
                                                        "type" : "string",
                                                        "maxLength" : 300,
                                                        "description" : ""
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/structure/symbols" : {
            "get" : {
                "tags" : [
                    "Static Structure Information"
                ],
                "description" : "Display School Subject Symbols",
                "parameters" : [
                    {
                        "in" : "query",
                        "name" : "matricType",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : true,
                        "description" : "Indicate Matric Type"
                    },
                    {
                        "in" : "query",
                        "name" : "subjectGrade",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : true,
                        "description" : "Indicate Matric Grade"
                    }
                ],
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "matricType" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Indicate Matric Type"
                                                    },
                                                    "SubjectSymbol" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Indicate Matric Symbol"
                                                    },
                                                    "subjectGrade" : {
                                                        "type" : "string",
                                                        "maxLength" : 1,
                                                        "description" : "Indicate Matric Grade"
                                                    },
                                                    "subjectScore" : {
                                                        "type" : "string",
                                                        "maxLength" : 8,
                                                        "description" : "Indicate Score"
                                                    },
                                                    "subjectMark" : {
                                                        "type" : "string",
                                                        "maxLength" : 4,
                                                        "description" : "Indicate Mark"
                                                    },
                                                    "subjectPercentage" : {
                                                        "type" : "string",
                                                        "maxLength" : 8,
                                                        "description" : "Indicate Percentage"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/selfservice/schoolsubject/{x_stno}" : {
            "get" : {
                "tags" : [
                    "School Leaving Subjects"
                ],
                "description" : "Display Student School Subjects",
                "parameters" : [
                    {
                        "in" : "path",
                        "name" : "x_stno",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : true,
                        "description" : "Supply the specific student number"
                    }
                ],
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "sl_date" : {
                                                        "type" : "string",
                                                        "maxLength" : 6,
                                                        "description" : "The year and month that these subjects were taken under. The format is 'YYYYMM' where 'YYYY' => Year of the exams (i.e. 2015) 'MM' => Month of the exam. Valid values are '01' to '12' identifying 'January, February, \u2026'"
                                                    },
                                                    "sl_type" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "The matric type under which the student took this subject. Legal values are stored in {SCODE3-1}, Table IBKMTP"
                                                    },
                                                    "subject" : {
                                                        "type" : "string",
                                                        "maxLength" : 5,
                                                        "description" : "The subject code of the subject for the student. Valid Values are stored in {SCODE-3}, Table IBMMSB"
                                                    },
                                                    "grade" : {
                                                        "type" : "string",
                                                        "maxLength" : 1,
                                                        "description" : "The Grade in which this subject was taken. Legal values are stored in {SCODE-6}, Table JCTMGD"
                                                    },
                                                    "pre_final_yr_symb" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Indicate Pre-Final year symbol"
                                                    },
                                                    "pre_final_yr_perc" : {
                                                        "type" : "string",
                                                        "maxLength" : 3,
                                                        "description" : "The Previous years Symbol acquired for this subject."
                                                    },
                                                    "mid_final_yr_symb" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "The midyear symbol acquired for this subject."
                                                    },
                                                    "mid_final_yr_perc" : {
                                                        "type" : "string",
                                                        "maxLength" : 3,
                                                        "description" : "Indicate Mid final year Percentage"
                                                    },
                                                    "final_yr_symb" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "The Final Symbol acquired in this subject"
                                                    },
                                                    "final_yr_perc" : {
                                                        "type" : "string",
                                                        "maxLength" : 3,
                                                        "description" : "Indicate final year Percentage"
                                                    },
                                                    "delete_indicator" : {
                                                        "type" : "string",
                                                        "maxLength" : 1,
                                                        "description" : "Indicate delete indicator"
                                                    },
                                                    "iae_sequence" : {
                                                        "type" : "string",
                                                        "maxLength" : 20,
                                                        "description" : "ADF Sequence number"
                                                    },
                                                    "mt_name" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : "Matric Type Name"
                                                    },
                                                    "mt_minsub" : {
                                                        "type" : "string",
                                                        "maxLength" : 3,
                                                        "description" : "Indicate Minimum subjects to pass"
                                                    },
                                                    "mt_kmaxsub" : {
                                                        "type" : "string",
                                                        "maxLength" : 3,
                                                        "description" : "indicate Maximum subjects to pass"
                                                    },
                                                    "mt_numsubj" : {
                                                        "type" : "string",
                                                        "maxLength" : 3,
                                                        "description" : "Indicate Number of subjects"
                                                    },
                                                    "mt_webyn" : {
                                                        "type" : "string",
                                                        "maxLength" : 1,
                                                        "description" : "Use in Web Y/N"
                                                    },
                                                    "subj_name" : {
                                                        "type" : "string",
                                                        "maxLength" : 80,
                                                        "description" : "Indicate Matric Subject Name"
                                                    },
                                                    "grade_name" : {
                                                        "type" : "string",
                                                        "maxLength" : 80,
                                                        "description" : "Indicate Matric Grade Description"
                                                    },
                                                    "cycle_start" : {
                                                        "type" : "string",
                                                        "maxLength" : 12,
                                                        "description" : "Indicate Cycle Start date. Format DD-MON-YYYY"
                                                    },
                                                    "cycle_end" : {
                                                        "type" : "string",
                                                        "maxLength" : 12,
                                                        "description" : "Indicate Cycle End date. Format DD-MON-YYYY"
                                                    },
                                                    "cycle_suppress" : {
                                                        "type" : "string",
                                                        "maxLength" : 1,
                                                        "description" : "Suppress cycle information"
                                                    },
                                                    "rating_pre" : {
                                                        "type" : "string",
                                                        "maxLength" : 10,
                                                        "description" : "Pre-midyear Rating Score"
                                                    },
                                                    "rating_mid" : {
                                                        "type" : "string",
                                                        "maxLength" : 10,
                                                        "description" : "Midyear Rating Score"
                                                    },
                                                    "rating_final" : {
                                                        "type" : "string",
                                                        "maxLength" : 10,
                                                        "description" : "Final Rating Score"
                                                    },
                                                    "weight" : {
                                                        "type" : "string",
                                                        "maxLength" : 10,
                                                        "description" : "Sort Weight"
                                                    },
                                                    "bio_sl_type" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Student Default Matric Type"
                                                    },
                                                    "bio_sl_date" : {
                                                        "type" : "string",
                                                        "maxLength" : 6,
                                                        "description" : "Student Defaul Matric Date"
                                                    },
                                                    "where_from" : {
                                                        "type" : "string",
                                                        "maxLength" : 2,
                                                        "description" : "Indicate where this is being initiated"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/selfservice/schoolsubject/{xStno}" : {
            "put" : {
                "tags" : [
                    "School Leaving Subjects"
                ],
                "description" : "Create Student School Subjects",
                "parameters" : [
                    {
                        "in" : "path",
                        "name" : "xStno",
                        "schema" : {
                            "type" : "string"
                        },
                        "required" : true,
                        "description" : "Supply the specific student number"
                    }
                ],
                "requestBody" : {
                    "required" : true,
                    "content" : {
                        "application/json" : {
                            "schema" : {
                                "type" : "object",
                                "properties" : {
                                    "sl_date" : {
                                        "type" : "string",
                                        "maxLength" : 6,
                                        "description" : "The year and month that these subjects were taken under. The format is 'YYYYMM' where 'YYYY' => Year of the exams (i.e. 2015) 'MM' => Month of the exam. Valid values are '01' to '12' identifying 'January, February, \u2026'"
                                    },
                                    "sl_type" : {
                                        "type" : "string",
                                        "maxLength" : 2,
                                        "description" : "The matric type under which the student took this subject. Legal values are stored in {SCODE3-1}, Table IBKMTP"
                                    },
                                    "subject" : {
                                        "type" : "string",
                                        "maxLength" : 5,
                                        "description" : "The subject code of the subject for the student. Valid Values are stored in {SCODE-3}, Table IBMMSB"
                                    },
                                    "grade" : {
                                        "type" : "string",
                                        "maxLength" : 1,
                                        "description" : "The Grade in which this subject was taken. Legal values are stored in {SCODE-6}, Table JCTMGD"
                                    },
                                    "pre_final_yr_symb" : {
                                        "type" : "string",
                                        "maxLength" : 2,
                                        "description" : "Indicate Pre-Final year symbol"
                                    },
                                    "pre_final_yr_perc" : {
                                        "type" : "string",
                                        "maxLength" : 3,
                                        "description" : "The Previous years Symbol acquired for this subject."
                                    },
                                    "mid_final_yr_symb" : {
                                        "type" : "string",
                                        "maxLength" : 2,
                                        "description" : "The midyear symbol acquired for this subject."
                                    },
                                    "mid_final_yr_perc" : {
                                        "type" : "string",
                                        "maxLength" : 3,
                                        "description" : "Indicate Mid final year Percentage"
                                    },
                                    "final_yr_symb" : {
                                        "type" : "string",
                                        "maxLength" : 2,
                                        "description" : "The Final Symbol acquired in this subject"
                                    },
                                    "final_yr_perc" : {
                                        "type" : "string",
                                        "maxLength" : 3,
                                        "description" : "Indicate final year Percentage"
                                    },
                                    "delete_indicator" : {
                                        "type" : "string",
                                        "maxLength" : 1,
                                        "description" : "Indicate delete indicator"
                                    },
                                    "iae_sequence" : {
                                        "type" : "string",
                                        "maxLength" : 20,
                                        "description" : "ADF Sequence number"
                                    },
                                    "where_from" : {
                                        "type" : "string",
                                        "maxLength" : 2,
                                        "description" : "Indicate where this is being initiated"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses" : {
                    "200" : {
                        "description" : "Successful response",
                        "content" : {
                            "application/json" : {
                                "schema" : {
                                    "type" : "object",
                                    "properties" : {
                                        "items" : {
                                            "type" : "array",
                                            "items" : {
                                                "type" : "object",
                                                "properties" : {
                                                    "status" : {
                                                        "type" : "string",
                                                        "maxLength" : 30,
                                                        "description" : ""
                                                    },
                                                    "message" : {
                                                        "type" : "string",
                                                        "maxLength" : 80,
                                                        "description" : ""
                                                    },
                                                    "student" : {
                                                        "type" : "string",
                                                        "maxLength" : 80,
                                                        "description" : ""
                                                    },
                                                    "subject" : {
                                                        "type" : "string",
                                                        "maxLength" : 300,
                                                        "description" : ""
                                                    },
                                                    "sequence" : {
                                                        "type" : "string",
                                                        "maxLength" : 20,
                                                        "description" : ""
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403" : {
                        "description" : "process does not exist",
                        "content" : {
                        }
                    }
                }
            }
        },
        "/application/test" : {
[...]
